@import url('font/abel/stylesheet.css');
@import url('font/open_sans/regular/stylesheet.css');
@import url('font/oswald/stylesheet.css');
@import url('font/fira/stylesheet.css');

/* general */
body {background-color: #f0ecec; color: #574444; font-family: 'open_sansregular', sans-serif;}

a {color: #455a6f; font-weight: bold;}
a:hover {color: #40566a;}

p {text-align: justify;}

h1,h2,h3,h4,h5 {font-family: 'oswald_regularregular', sans-serif; text-transform: uppercase;}

/* navbar */
.navbar {border-bottom: 1px solid #cbc0c0; margin-bottom: 2rem;}
.navbutton {font-family: 'abelregular', sans-serif; font-size: 2rem; text-transform: uppercase;}

/* index */
a.large-link {display: block; font-family: 'Abel', sans-serif; font-size: 2.5rem; text-decoration: none;}

/* code */
code {font-family: 'fira_monoregular';}

/* rule */
hr {}
