<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Cormorant+Garamond|IBM+Plex+Mono|Nanum+Myeongjo|Open+Sans+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/tachyons.css">
  <link rel="stylesheet" href="/css/custom.css">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body class="bg-white black-80">
  <header class="bg-near-white w-100 pa2 flex justify-center">
    <nav class="cinzel">
      <a class="f3 black-70 fw5 hover-dark-red ttu" href="/">David E Varela</a></li>
    </nav>
  </header>
  <div class="measure-wide nanum f3 center ph4-ns pt2-ns pa2">

<!-- Content appended here -->
